<div class="global-compare-select js-globalCompareSelect" style="display:none;" data-compare-product-id="{{ product.id }}" data-title="{{ product.title }}">
    <label class="compare-checkbox">
        <input type="checkbox">
        <span tabindex="0">Compare</span>
    </label>
</div>
